<div class="catchphrase">
  <h2 class="text-center header-content">Have a look at our
    <span style="background-color: #536E7C; color: white;">Amesome</span>  Cocktails !
  </h2>

</div>
<div class="robin">
  <div class="container">
    <div class="row" id="cocktail-list">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-sm-6 col-md-3">
      <% if cocktail.photo? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
          <%end %>
            <div class="card-category">Popular</div>
              <div class="card-description">
                <h2><%= cocktail.name %></h2>
              </div>
            <%= link_to "", cocktail_path(cocktail), class:"card-link" %>
          </div>
        </div>
      <%end %>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <div class="container">
    <div class="footer">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="cocktails">
        <% @cocktails.each do |cocktail| %>
          <div class="product">

            <div class='product-body'>
              <h3><%= cocktail.name %></h3>
              <p>
              <% cocktail.doses.each do |dose| %>
                <%= dose.ingredient.name %> <%= link_to cocktail_dose_path(cocktail.id, dose.id), method: :delete do %>
                <i class="fa fa-trash-o"></i>
                <% end %>

                |
              <% end %>
              </p>
              <p>
              <% cocktail.doses.each do |dose| %>
                <% if dose.ingredient.photo? %>
                  <%= cl_image_tag dose.ingredient.photo.path, width: 50, height: 50, crop: :fill, radius: :max %>
                <% end %>
              <% end %>
              </p>

            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><%= link_to cocktail_path(cocktail.id) do %><i class="fa fa-eye"></i><% end %></li>
              <li><%= link_to new_cocktail_dose_path(cocktail.id) do %><i class="fa fa-plus"></i><% end %></li>
              <li><%= link_to cocktail_path(cocktail.id), method: :delete do %><i class="fa fa-trash-o"></i><% end %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




