

<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4 col-md-6">
        <h2><%= link_to 'Retour aux cocktails', cocktails_path, class:"text-center btn btn-primary btn-large" %> </h2>
        <h2><%= @cocktail.name %></h2>
        <%= link_to 'add a dose', new_cocktail_dose_path(@cocktail), class:"btn btn-primary" %>
           <% @cocktail.doses.each do |dose| %>
          <p><%= dose.description %></p>
          <p><%= dose.ingredient[:name] %></p>
        <%end %>
    </div>
  </div>
</div>


